<div class="page-header">
  <h1>Role Types</h1>
</div>

<%= render 'shared/index_action_buttons', model_type: RoleType %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :code, 'Code') %></th>
      <th><%= sort_link(@q, :name, 'Name') %></th>
      <%= render 'shared/table_action_buttons_header' %>
    </tr>
  </thead>

  <tbody>
    <% @role_types.each do |role_type| %>
      <%= content_tag :tr, id: "role_type_#{role_type.id}" do %>
        <td><%= role_type.code %></td>
        <td><%= role_type.name %></td>
        <%= render 'shared/table_action_buttons', object: role_type %>
      <% end %>
    <% end %>
  </tbody>
</table>
