<%= form_for(@employee_category) do |f| %>
  <%= render 'shared/form_errors', errors: @employee_category.errors %>

  <table class="table table-striped">
    <tbody>
      <tr>
        <th><%= f.label :code %></th>
        <td><%= f.text_field :code %></td>
      </tr>
      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name %></td>
      </tr>
    </tbody>
  </table>

  <%= render partial: 'shared/form_action_buttons', locals: { form: f, object: @employee_category } %>
<% end %>
