<h1>Library Personnel Budget Request</h1>

<ul>
  <li><a><%= link_to 'Labor and Assistance Requests', labor_requests_path %></li>
  <li><a><%= link_to 'Staff Requests', staff_requests_path %></li>
  <li><a><%= link_to 'Salaried Contractor Requests', contractor_requests_path %></li>
</ul>

<ul>
  <li><%= link_to 'Divisions', divisions_path %></li>
  <li><%= link_to 'Departments', departments_path %></li>
  <li><%= link_to 'Subdepartments', subdepartments_path %></li>
</ul>
      
<ul>
  <li><%= link_to 'Employee Categories', employee_categories_path %></li>
  <li><%= link_to 'Employee Types', employee_types_path %></li>
  <li><%= link_to 'Request Types', request_types_path %></li>
</ul>
