<%= form_for(@subdepartment) do |f| %>
  <%= render 'shared/form_errors', errors: @subdepartment.errors %>

  <table class="table table-striped">
    <tbody>
      <tr>
        <th><%= f.label :code %></th>
        <td><%= f.text_field :code %></td>
      </tr>
      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th><%= f.label :department_id %></th>
        <td><%= select("subdepartment", "department_id", Department.order("name").collect { |d| [ d.name, d.id ] }, { prompt: 'Select Department' }) %></td>
      </tr>
    </tbody>
  </table>
    
  <%= render partial: 'shared/form_action_buttons', locals: { form: f, object: @subdepartment } %>
<% end %>
