<div class="page-header">
  <h1>Impersonate User</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :cas_directory_id, 'CAS Directory ID') %></th>
      <th><%= sort_link(@q, :name, 'Name') %></th>
      <th id="impersonate"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <%= content_tag :tr, id: "user_#{user.id}" do %>
        <td><%= user.cas_directory_id %></td>
        <td><%= user.name %></td>
        <td headers="impersonate">
          <% if policy(user).create? %>
            <%= link_to impersonate_user_path(user), class: "btn btn-impersonate", title: "Impersonate" do %>
            <i class="glyphicon glyphicon-sunglasses"></i>
            <% end %>
          <% end %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>
