<div class="container">
<div class="page-header">
  <h1><%= @review_status.name %> <small>Request Type</small></h1>
</div>

<table class="table table-striped">
  <tbody>
    <tr>
      <th>Code:</th>
      <td id="code"><%= @review_status.code %></td>
    </tr>
    <tr>
      <th>Name:</th>
      <td id="name"><%= @review_status.name %></td>
    </tr>
    <tr>
      <th>Color:</th>
      <td id='color'><%= color_field :review_status, :color, value: @review_status.color, readonly: true, disabled: true %></td>
  </tbody>
</table>

<%= render 'shared/show_action_buttons', object: @review_status %>
</div>
