<div class="page-header">
  <h1>Labor and Assistance Requests</h1>
</div>

<%= render partial: 'shared/index_action_buttons',
  locals: { model_type: LaborRequest, pagination_object: @labor_requests } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th id="position_description"><%= sort_link(@q, :position_description, 'Position description') %></th>
      <th id="employee_type"><%= sort_link(@q, 'employee_type_code', 'Employee type') %></th>
      <th id="request_type"><%= sort_link(@q, 'request_type_code', 'Request type') %></th>
      <th id="contractor_name"><%= sort_link(@q, :contractor_name, 'Contractor name') %></th>
      <th id="number_of_positions"><%= sort_link(@q, :number_of_positions, 'Number of positions') %></th>
      <th id="hourly_rate"><%= sort_link(@q, :hourly_rate, 'Hourly rate') %></th>
      <th id="hours_per_week"><%= sort_link(@q, :hours_per_week, 'Hours per week') %></th>
      <th id="number_of_weeks"><%= sort_link(@q, :number_of_weeks, 'Number of weeks') %></th>
      <th id="annual_cost"><%= sort_link(@q, :annual_cost, 'Annual cost') %></th>
      <th id="nonop_funds"><%= sort_link(@q, :nonop_funds, 'Nonop funds') %></th>
      <th id="division"><%= sort_link(@q, 'division_code', 'Division') %></th>
      <th id="department"><%= sort_link(@q, 'department_code', 'Department') %></th>
      <th id="unit"><%= sort_link(@q, 'unit_code', 'Unit') %></th>
      <th id="review_status"><%= sort_link(@q, 'review_status_id', 'Review Status') %></th>
      <%= render 'shared/table_action_buttons_header' %>
    </tr>
  </thead>

  <tbody>
    <% @labor_requests.each do |labor_request| %>
      <tr <%= "style=background-color:#{labor_request.review_status.color};" if labor_request.review_status %> >
        <td headers="position_description"><%= labor_request.position_description %></td>
        <td headers="employee_type"><%= labor_request.employee_type.code %></td>
        <td headers="request_type"><%= labor_request.request_type.code %></td>
        <td headers="contractor_name"><%= labor_request.contractor_name %></td>
        <td headers="number_of_positions"><%= labor_request.number_of_positions %></td>
        <td headers="hourly_rate"><%= number_to_currency(labor_request.hourly_rate) %></td>
        <td headers="hours_per_week"><%= labor_request.hours_per_week %></td>
        <td headers="number_of_weeks"><%= labor_request.number_of_weeks %></td>
        <td headers="annual_cost"><%= number_to_currency(labor_request.annual_cost) %></td>
        <td headers="nonop_funds"><%= number_to_currency(labor_request.nonop_funds) %></td>
        <td headers="division"><%= labor_request.department.division.code %></td>
        <td headers="department"><%= labor_request.department.code %></td>
        <td headers="unit"><%= labor_request.unit.code if labor_request.unit %></td>
        <td headers="review_status"><%= labor_request.review_status.name if labor_request.review_status  %></td>
        <%= render 'shared/table_action_buttons', object: labor_request %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate renderer: BootstrapPagination::Rails %>
