<p id="notice"><%= notice %></p>

<p>
  <strong>Employee type:</strong>
  <span id="employee_type"><%= @labor_request.employee_type.code %></span>
</p>

<p>
  <strong>Position description:</strong>
  <span id="position_description"><%= @labor_request.position_description %></span>
</p>

<p>
  <strong>Request type:</strong>
  <span id="request_type"><%= @labor_request.request_type.code %></span>
</p>

<p>
  <strong>Contractor name:</strong>
  <span id="contractor_name"><%= @labor_request.contractor_name %></span>
</p>

<p>
  <strong>Number of positions:</strong>
  <span id="number_of_positions"><%= @labor_request.number_of_positions %></span>
</p>

<p>
  <strong>Hourly rate:</strong>
  <span id="hourly_rate"><%= number_to_currency(@labor_request.hourly_rate) %></span>
</p>

<p>
  <strong>Hours per week:</strong>
  <span id="hours_per_week"><%= @labor_request.hours_per_week %></span>
</p>

<p>
  <strong>Number of weeks:</strong>
  <span id="number_of_weeks"><%= @labor_request.number_of_weeks %></span>
</p>

<p>
  <strong>Nonop funds:</strong>
  <span id="nonop_funds"><%= number_to_currency(@labor_request.nonop_funds) %></span>
</p>

<p>
  <strong>Nonop source:</strong>
  <span id="nonop_source"><%= @labor_request.nonop_source %></span>
</p>

<p>
  <strong>Department:</strong>
  <span id="department"><%= @labor_request.department.code %></span>
</p>

<p>
  <strong>Subdepartment:</strong>
  <span id="subdepartment"><%= @labor_request.subdepartment.code if @labor_request.subdepartment %></span>
</p>

<p>
  <strong>Justification:</strong>
  <span id="justification"><%= @labor_request.justification %></span>
</p>

<%= link_to 'Edit', edit_labor_request_path(@labor_request) %> |
<%= link_to 'Back', labor_requests_path %>
