<div class="page-header">
  <h1>Divisions</h1>
</div>

<%= render 'shared/index_action_buttons', model_type: Division %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :code, 'Code') %></th>
      <th><%= sort_link(@q, :name, 'Name') %></th>
      <%= render 'shared/table_action_buttons_header' %>
    </tr>
  </thead>

  <tbody>
    <% @divisions.each do |division| %>
      <%= content_tag :tr, id: "division_#{division.id}" do %>
        <td><%= division.code %></td>
        <td><%= division.name %></td>
        <%= render 'shared/table_action_buttons', object: division %> 
      <% end %>
    <% end %>
  </tbody>
</table>
