<div class="page-header">
  <h1><%= @division.code %> <small>Division</small></h1>
</div>

<table class="table table-striped">
  <tbody>
    <tr>
      <th>Code:</th>
      <td id="code"><%= @division.code %></td>
    </tr>

    <tr>
      <th>Name:</th>
      <td id="name"><%= @division.name %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_division_path(@division) %> |
<%= link_to 'Back', divisions_path %>
