<tbody>
  <%- records.each do |record| %>
    <tr <%= "style=background-color:#{record.review_status.color};" if record.review_status %> >
      <td class='select-record'>
        <input name="ids[]"  value="<%= record.id %>" type="checkbox"> 
      </td>
      <%- fields(record.class).each do |field| %> 
          <td headers="<%= field.to_s %>"><%= call_record_field record, field %></td>
      <% end %> 
      <%= render 'shared/table_action_buttons', object: record %> 
    </tr>
  <% end %>
</tbody>
