<%= form_for(@department) do |f| %>
  <%= render 'shared/form_errors', errors: @department.errors %>

  <table class="table table-striped">
    <tbody>
      <tr>
        <th><%= f.label :code %></th>
        <td><%= f.text_field :code %></td>
      </tr>

      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name %></td>
      </tr>

      <tr>
        <th><%= f.label :division_id %></th>
        <td><%= select("department", "division_id", Division.order("name").collect { |d| [ d.name, d.id ] }, { prompt: 'Select Division' }) %></td>
      </tr>
    </tbody>
  </table>

  <%= render partial: 'shared/form_action_buttons', locals: { form: f, object: @department } %>
<% end %>
