<div class="page-header">
  <h1>Departments</h1>
</div>

<% if flash[:error] %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>

<%= render 'shared/index_action_buttons', model_type: Department %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :code, 'Code') %></th>
      <th><%= sort_link(@q, :name, 'Name') %></th>
      <th><%= sort_link(@q, 'division_code', 'Division') %></th>
      <%= render 'shared/table_action_buttons_header' %>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <%= content_tag :tr, id: "department_#{department.id}" do %>
        <td><%= department.code %></td>
        <td><%= department.name %></td>
        <td><%= department.division.code %></td>
        <%= render 'shared/table_action_buttons', object: department %>  
      <% end %>
    <% end %>
  </tbody>
</table>
