<%= form_for(@staff_request) do |f| %>
  <%= render 'shared/form_errors', errors: @staff_request.errors %>

  <table class="table table-striped">
    <tbody>
      <tr>
        <th><%= f.label :position_description %></th>
        <td><%= f.text_field :position_description %></td>
      </tr>
      <tr>
         <th><%= f.label :employee_type_id %></th>
         <td><%= select("staff_request", "employee_type_id", 
           EmployeeType.employee_types_with_category(StaffRequest::VALID_EMPLOYEE_CATEGORY_CODE).collect {|e| [ e.name, e.id ] },
           {prompt: 'Select Employee Type'}) %></td>
      </tr>
      <tr>
        <th><%= f.label :request_type_id %></th>
        <td><%= select("staff_request", "request_type_id",
          RequestType.all.to_a.select { |a| StaffRequest::VALID_REQUEST_TYPE_CODES.include?(a.code) }.collect {|e| [ e.name, e.id ] },
          {prompt: 'Select Request Type'}) %></td>
      </tr>
      <tr>
        <th><%= f.label :annual_base_pay %></th>
        <td><%= f.text_field :annual_base_pay, step: 0.01, value: number_with_precision(f.object.annual_base_pay, precision: 2) %></td>
      </tr>
      <tr>
        <th><%= f.label :nonop_funds %></th>
        <td><%= f.text_field :nonop_funds, step: 0.01, value: number_with_precision(f.object.nonop_funds, precision: 2) %></td>
      </tr>
      <tr>
        <th><%= f.label :nonop_source %></th>
        <td><%= f.text_field :nonop_source %></td>
      </tr>
      <tr>
        <th><%= f.label :department_id %></th>
        <td><%= select("staff_request", "department_id", Department.all.collect {|d| [ d.name, d.id ] }, {prompt: 'Select Department'}) %></td>
      </tr>
      <tr>
        <th><%= f.label :subdepartment_id %></th>
        <td><%= select("staff_request", "subdepartment_id", Subdepartment.all.collect {|d| [ d.name, d.id ] }, {prompt: 'Select Subdepartment'}) %></td>
      </tr>
      <tr>
        <th><%= f.label :justification %></th>
        <td><%= f.text_area :justification %></td>
      </tr>
    </tbody>
  </table>
    
  <%= render partial: 'shared/form_action_buttons', locals: { form: f, object: @staff_request } %>
<% end %>
