<%= form_for(@staff_request) do |f| %>
  <% if @staff_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff_request.errors.count, "error") %> prohibited this staff_request from being saved:</h2>

      <ul>
      <% @staff_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_type_id %><br>
     <%= select("staff_request", "employee_type_id", 
       EmployeeType.employee_types_with_category(StaffRequest::VALID_EMPLOYEE_CATEGORY_CODE).collect {|e| [ e.name, e.id ] },
       {prompt: 'Select Employee Type'}) %>
  </div>
  <div class="field">
    <%= f.label :position_description %><br>
    <%= f.text_field :position_description %>
  </div>
  <div class="field">
    <%= f.label :request_type_id %><br>
    <%= select("staff_request", "request_type_id",
      RequestType.all.to_a.select { |a| StaffRequest::VALID_REQUEST_TYPE_CODES.include?(a.code) }.collect {|e| [ e.name, e.id ] },
      {prompt: 'Select Request Type'}) %>
  </div>
  <div class="field">
    <%= f.label :annual_base_pay %><br>
    <%= f.text_field :annual_base_pay, step: 0.01, value: number_with_precision(f.object.annual_base_pay, precision: 2) %>
  </div>
  <div class="field">
    <%= f.label :nonop_funds %><br>
    <%= f.text_field :nonop_funds, step: 0.01, value: number_with_precision(f.object.nonop_funds, precision: 2) %>
  </div>
  <div class="field">
    <%= f.label :nonop_source %><br>
    <%= f.text_field :nonop_source %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br>
    <%= select("staff_request", "department_id", Department.all.collect {|d| [ d.name, d.id ] }, {prompt: 'Select Department'}) %>
  </div>
  <div class="field">
    <%= f.label :subdepartment_id %><br>
    <%= select("staff_request", "subdepartment_id", Subdepartment.all.collect {|d| [ d.name, d.id ] }, {prompt: 'Select Subdepartment'}) %>
  </div>
  <div class="field">
    <%= f.label :justification %><br>
    <%= f.text_area :justification %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
