<div class="page-header">
  <h1>Staff Request</h1>
</div>

<table class="table table-striped">
  <tbody>
    <tr>
      <th>Position description:</th>
      <td id="position_description"><%= @staff_request.position_description %></td>
    </tr>

    <tr>
      <th>Employee type:</th>
      <td id="employee_type"><%= @staff_request.employee_type.code %></td>
    </tr>

    <tr>
      <th>Request type:</th>
      <td id="request_type"><%= @staff_request.request_type.code %></td>
    </tr>

    <tr>
      <th>Annual base pay:</th>
      <td id="annual_base_pay"><%= number_to_currency(@staff_request.annual_base_pay) %></td>
    </tr>

    <tr>
      <th>Nonop funds:</th>
      <td id="nonop_funds"><%= number_to_currency(@staff_request.nonop_funds) %></td>
    </tr>

    <tr>
      <th>Nonop source:</th>
      <td id="nonop_source"><%= @staff_request.nonop_source %></td>
    </tr>

    <tr>
      <th>Department:</th>
      <td id="department"><%= @staff_request.department.code %></td>
    </tr>

    <tr>
      <th>Unit:</th>
      <td id="unit"><%= @staff_request.unit.code if @staff_request.unit %></td>
    </tr>

    <tr>
      <th>Justification:</th>
      <td id="justification"><%= @staff_request.justification %></td>
    </tr>
  </tbody>
</table>

<%= render 'shared/show_action_buttons', object: @staff_request %>
