<%= form_for(@contractor_request) do |f| %>
  <%= render 'shared/form_errors', errors: @contractor_request.errors %>

  <table class="table table-striped">
    <tbody>
      <tr>
        <th><%= f.label :position_description %></th>
        <td><%= f.text_field :position_description %></td>
      </tr>
      <tr>
        <th><%= f.label :employee_type_id %></th>
        <td><%= select("contractor_request", "employee_type_id", 
           EmployeeType.employee_types_with_category(ContractorRequest::VALID_EMPLOYEE_CATEGORY_CODE).order("name").collect { |e| [ e.name, e.id ] },
           {prompt: 'Select Employee Type'}) %></td>
      </tr>
      <tr>
        <th><%= f.label :request_type_id %></th>
        <td><%= select("contractor_request", "request_type_id",
          RequestType.order("name").select { |a| ContractorRequest::VALID_REQUEST_TYPE_CODES.include?(a.code) }.collect { |e| [ e.name, e.id ] },
          {prompt: 'Select Request Type'}) %></td>
      </tr>
      <tr>
        <th><%= f.label :contractor_name %></th>
        <td><%= f.text_field :contractor_name %></td>
      </tr>
      <tr>
        <th><%= f.label :number_of_months %></th>
        <td><%= f.number_field :number_of_months, min: 1, value: 1 %></td>
      </tr>
      <tr>
        <th><%= f.label :annual_base_pay %></th>
        <td><%= f.text_field :annual_base_pay, step: 0.01, value: number_with_precision(f.object.annual_base_pay, precision: 2) %></td>
      </tr>
      <tr>
        <th><%= f.label :nonop_funds %></th>
        <td><%= f.text_field :nonop_funds, step: 0.01, value: number_with_precision(f.object.nonop_funds, precision: 2) %></td>
      </tr>
      <tr>
        <th><%= f.label :nonop_source %></th>
        <td><%= f.text_field :nonop_source %></td>
      </tr>
      <tr>
        <th><%= f.label :department_id %></th>
        <td>
          <%=
            depts = @selectable_departments.collect { |d| [ d.name, d.id ] }
            select("contractor_request", "department_id", depts, { prompt: 'Select Department' })
          %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :unit_id %></th>
        <td>
          <%= 
            units = @selectable_units.collect { |u| [ u.name, u.id ] }
            # Prepend "<Clear Unit>" if unit is selected
            units.unshift( ["<Clear Unit>", nil ] ) if @contractor_request.unit
            select("contractor_request", "unit_id", units, { prompt: 'Select Unit' })
          %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :justification %></th>
        <td><%= f.text_area :justification %></td>
      </tr>
      <tr>
        <th><%= f.label :review_status %></th>
        <td><%= select("contractor_request", "review_status_id", ReviewStatus.order("name").collect { |r| [ r.name, r.id ] }, { prompt: 'Select Review Status' }, disabled: !current_user.admin?) %></td>
      </tr>
      <tr>
        <th><%= f.label :review_comment %></th>
        <td><%= f.text_area :review_comment, :disabled => !current_user.admin? %></td>
      </tr>
    </tbody>
  </table>

  <%= render partial: 'shared/form_action_buttons', locals: { form: f, object: @contractor_request } %>
<% end %>
