<div class="page-header">
  <h1>Salaried Contractor Requests</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th id="employee_type">Employee type</th>
      <th id="position_description">Position description</th>
      <th id="request_type">Request type</th>
      <th id="contractor_name">Contractor name</th>
      <th id="number_of_months">Number of months</th>
      <th id="annual_base_pay">Annual base pay</th>
      <th id="nonop_funds">Nonop funds</th>
      <th id="department">Department</th>
      <th id="subdepartment">Subdepartment</th>
      <%= render 'shared/table_action_buttons_header' %>
    </tr>
  </thead>

  <tbody>
    <% @contractor_requests.each do |contractor_request| %>
      <tr>
        <td headers="employee_type"><%= contractor_request.employee_type.code %></td>
        <td headers="position_description"><%= contractor_request.position_description %></td>
        <td headers="request_type"><%= contractor_request.request_type.code %></td>
        <td headers="contractor_name"><%= contractor_request.contractor_name %></td>
        <td headers="number_of_months"><%= contractor_request.number_of_months %></td>
        <td headers="annual_base_pay"><%= number_to_currency(contractor_request.annual_base_pay) %></td>
        <td headers="nonop_source"><%= contractor_request.nonop_source %></td>
        <td headers="department"><%= contractor_request.department.code %></td>
        <td headers="subdepartment"><%= contractor_request.subdepartment.code if contractor_request.subdepartment %></td>
        <%= render 'shared/table_action_buttons', object: contractor_request %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contractor request', new_contractor_request_path %>
