<p id="notice"><%= notice %></p>

<p>
  <strong>Employee type:</strong>
  <span id="employee_type"><%= @contractor_request.employee_type.code %></span>
</p>

<p>
  <strong>Position description:</strong>
  <span id="position_description"><%= @contractor_request.position_description %></span>
</p>

<p>
  <strong>Request type:</strong>
  <span id="request_type"><%= @contractor_request.request_type.code %></span>
</p>

<p>
  <strong>Contractor name:</strong>
  <span id="contractor_name"><%= @contractor_request.contractor_name %></span>
</p>

<p>
  <strong>Number of months:</strong>
  <span id="number_of_months"><%= @contractor_request.number_of_months %></span>
</p>

<p>
  <strong>Annual base pay:</strong>
  <span id="annual_base_pay"><%= number_to_currency(@contractor_request.annual_base_pay) %></span>
</p>

<p>
  <strong>Nonop funds:</strong>
  <span id="nonop_funds"><%= number_to_currency(@contractor_request.nonop_funds) %></span>
</p>

<p>
  <strong>Nonop source:</strong>
  <span id="nonop_source"><%= @contractor_request.nonop_source %></span>
</p>

<p>
  <strong>Department:</strong>
  <span id="department"><%= @contractor_request.department.code %></span>
</p>

<p>
  <strong>Subdepartment:</strong>
  <span id="subdepartment"><%= @contractor_request.subdepartment.code if @contractor_request.subdepartment %></span>
</p>

<p>
  <strong>Justification:</strong>
  <span id="justification"><%= @contractor_request.justification %></span>
</p>

<%= link_to 'Edit', edit_contractor_request_path(@contractor_request) %> |
<%= link_to 'Back', contractor_requests_path %>
