<%= form_for(@role) do |f| %>
  <%= render 'shared/form_errors', errors: @role.errors %>

  <table class="table table-striped">
    <tbody>
      <tr>
        <th><%= f.label :user_id %></th>
        <td><%= select("role", "user_id", 
           User.all.order("name").collect {|e| [ e.name, e.id ] },
           {prompt: 'Select User'}) %></td>
      </tr>
      <tr>
        <th><%= f.label :role_type_id %></th>
        <td><%= select("role", "role_type_id", 
           RoleType.all.order("code").collect {|e| [ e.name, e.id ] },
           {prompt: 'Select Role Type'}) %></td>
      </tr>
      <tr>
        <th><%= f.label :division_id %></th>
        <td>
          <%=
            divisions = Division.order("code").collect {|e| [ e.name, e.id ] }
            # Prepend "<Clear Division>" if division is selected
            divisions.unshift( ["<Clear Division>", nil ] ) if @role.division
            select("role", "division_id", divisions, { prompt: 'Select Division' })
           %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :department_id %></th>
        <td>
          <%=
           departments = Department.order("code").collect {|e| [ e.name, e.id ] }
           # Prepend "<Clear Department>" if department is selected
           departments.unshift( ["<Clear Department>", nil ] ) if @role.department
           select("role", "department_id", departments, { prompt: 'Select Department' })
           %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :unit_id %></th>
        <td>
          <%=
            units = Unit.order("code").collect {|e| [ e.name, e.id ] }
            # Prepend "<Clear Unit>" if unit is selected
            departments.unshift( ["<Clear Unit>", nil ] ) if @role.unit
            select("role", "unit_id", units, { prompt: 'Select Unit' })
           %>
        </td>
      </tr>
    </tbody>
  </table>
    
  <%= render partial: 'shared/form_action_buttons', locals: { form: f, object: @role } %>
<% end %>
