<div class="page-header">
  <h1>Roles</h1>
</div>

<%= render partial: 'shared/index_action_buttons',
  locals: { klass: Role, pagination_object: @roles } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th id="user"><%= sort_link(@q, 'user_name', 'User') %></th>
      <th id="role_type"><%= sort_link(@q, 'role_type_name', 'Role type') %></th>
      <th id="request_type"><%= sort_link(@q, 'division_name', 'Division') %></th>
      <th id="contractor_name"><%= sort_link(@q, 'department_name', 'Department') %></th>
      <th id="number_of_positions"><%= sort_link(@q, 'unit_name', 'Unit') %></th>
      <%= render 'shared/table_action_buttons_header' %>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td headers="user_name"><%= role.user.name %></td>
        <td headers="role_type_name"><%= role.role_type.name %></td>
        <td headers="division_name"><%= role.division.name if role.division %></td>
        <td headers="department_name"><%= role.department.name if role.department %></td>
        <td headers="unit_name"><%= role.unit.name if role.unit %></td>
        <%= render 'shared/table_action_buttons', object: role %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate renderer: BootstrapPagination::Rails %>
