<div class="page-header">
  <h1><%= @role.user.name %> <small>Role</small></h1>
</div>

<table class="table table-striped">
  <tbody>
    <tr>
      <th>User:</th>
      <td id="user_name"><%= @role.user.name %></td>
    </tr>

    <tr>
      <th>Role Type:</th>
      <td id="role_type_name"><%= @role.role_type.name %></td>
    </tr>

    <% if @role.division %>
      <tr>
        <th>Division:</th>
        <td id="division_name"><%= @role.division.name %></td>
      </tr>
    <% end %>

    <% if @role.department %>
      <tr>
        <th>Department:</th>
        <td id="department_name"><%= @role.department.name %></td>
      </tr>
    <% end %>

    <% if @role.unit %>
      <tr>
        <th>Unit:</th>
        <td id="unit_name"><%= @role.unit.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'shared/show_action_buttons', object: @role %>