<%= form_for(@employee_type) do |f| %>
  <%= render 'shared/form_errors', errors: @employee_type.errors %>

  <table class="table table-striped">
    <tbody>
      <tr>
        <th><%= f.label :code %></th>
        <td><%= f.text_field :code %><td>
      </tr>
      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name %><td>
      </tr>
      <tr>
        <th><%= f.label :employee_category_id %></th>
        <td><%= select("employee_type", "employee_category_id", EmployeeCategory.all.collect {|cat| [ cat.name, cat.id ] }, {prompt: 'Select Category'}) %></td>
      </tr>   
    </tbody>
  </table>

  <%= render partial: 'shared/form_action_buttons', locals: { form: f, object: @employee_type } %>
<% end %>
