<div class="container">
<div class="page-header">
  <h1><%= @employee_type.code %> <small>Employee Type</small></h1>
</div>

<table class="table table-striped">
  <tbody>
    <tr>
      <th>Code:</th>
      <td id="code"><%= @employee_type.code %></td>
    </tr>

    <tr>
      <th>Name:</th>
      <td id="name"><%= @employee_type.name %></td>
    </tr>

    <tr>
      <th>Employee category:</th>
      <td id="employee_category"><%= @employee_type.employee_category.code %></td>
    </tr>
  </tbody>
</table>

<%= render 'shared/show_action_buttons', object: @employee_type %>
</div>
