<%= form_for(@role_cutoff) do |f| %>
  <%= render 'shared/form_errors', errors: @role_cutoff.errors %>

  <table class="table table-striped">
    <tbody>
      <tr>
        <th><%= f.label :role_type_id %></th>
        <td><%= select("role_cutoff", "role_type_id", RoleType.order("name").collect { |r| [ r.name, r.id ] }, { prompt: 'Select Role Type' }) %></td>
      </tr>
      <tr>
        <th><%= f.label :cutoff_date %></th>
        <td><%= f.date_select :cutoff_date %></td>
      </tr>
    </tbody>
  </table>

  <%= render partial: 'shared/form_action_buttons', locals: { form: f, object: @role_cutoff } %>
<% end %>
