<p id="notice"><%= notice %></p>

<h1>Listing Role Cutoffs</h1>

<table>
  <thead>
    <tr>
      <th>Role type</th>
      <th>Cutoff date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @role_cutoffs.each do |role_cutoff| %>
      <tr>
        <td><%= role_cutoff.role_type %></td>
        <td><%= role_cutoff.cutoff_date %></td>
        <td><%= link_to 'Show', role_cutoff %></td>
        <td><%= link_to 'Edit', edit_role_cutoff_path(role_cutoff) %></td>
        <td><%= link_to 'Destroy', role_cutoff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role cutoff', new_role_cutoff_path %>
