<div class="page-header">
  <h1>Role Cutoffs</h1>
</div>

<%= render 'shared/index_action_buttons', model_type: RoleCutoff %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :role_type_name, 'Role Type') %></th>
      <th><%= sort_link(@q, :cutoff_date, 'Cutoff Date') %></th>
      <%= render 'shared/table_action_buttons_header' %>

    </tr>
  </thead>

  <tbody>
    <% @role_cutoffs.each do |role_cutoff| %>
      <%= content_tag :tr, id: "role_cutoff_#{role_cutoff.id}" do %>
        <td><%= role_cutoff.role_type.name %></td>
        <td><%= role_cutoff.cutoff_date %></td>
        <%= render 'shared/table_action_buttons', object: role_cutoff %>
      <% end %>
    <% end %>
  </tbody>
</table>
