<%= form_for @report,  namespace: "requests_by_type_" do |f| %>
  <%= render 'shared/form_errors', errors: @report.errors %>
  <h3><%= report_name %></h3> 
  <table class="table table-striped">
    <tbody>
      <tr>
        <th><%= f.label :format %></th>
        <td><%= f.select :format, report_formats(subreport) %></td>
      </tr>
    </tbody>
  </table>

  <%= f.hidden_field :user_id, value:  current_user.id %>
  <%= f.hidden_field :name, value: subreport.class.to_s %>
 
  <%= render partial: 'shared/form_action_buttons', locals: { form: f, object: @report } %>

<% end %>
